@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

body {
    font-family: "Titillium Web", sans-serif;
    font-weight: 600;
    font-style: normal;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f5f5f5;
}

h1 {
    margin: 20px;
    font-size: 3rem; /* Normal font size for web use */
}

label{
    font-size: 1.8rem;
}

select{
    font-size: 1.2rem;
}

textarea{
    font-size: 1.2rem;
}

.detail-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

#company-details{
    flex: 1;
    margin: 0 10px;
    background-color: #f0f0f0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.company-name{
    border: none;
    background-color: transparent;
    text-align: center;
    width: 100%;
    height: 30px;
    font-size: 20px;
}

.company-name::placeholder{
    color: #888;
    background-color: transparent;
    font-size: 14px;
    font-style: italic;
    opacity: 1;
    font-size: 20px;
}

#officer-details{
    flex: 1;
    margin: 0 10px;
    background-color: #f0f0f0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.officer-name{
    border: none;
    background-color: transparent;
    text-align: center;
    width: 100%;
    height: 30px;
    font-size: 20px;
}

.officer-name::placeholder{
    color: #888;
    background-color: transparent;
    font-size: 14px;
    font-style: italic;
    opacity: 1;
    font-size: 20px;
}

.detail-section{
    justify-content: center;
    align-items: center;
    width: 80%;
    max-width: 700px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.section {
    width: 80%;
    max-width: 700px; /* Limit the width for better readability on larger screens */
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#section-check-label{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
}

#section-label{
    display: inline;
    font-size: 2.5rem;
}

.section-check {
    width: 30px; /* Width of the checkbox */
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
    vertical-align: middle;
    position: relative;
}

.item {
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    font-family: "Titillium Web", sans-serif;
}

label, select, textarea {
    margin-bottom: 10px;
    font-family: "Titillium Web", sans-serif;
}

.value-select {
    padding: 5px;
}

.recommendations {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    resize: vertical;
}

#result {
    font-size: 1.5rem;
    margin-top: 20px;
}

#status {
    font-size: 2rem;
    font-weight: bold;
    margin-top: 20px;
    text-align: center;
}

.pass {
    color: green;
}

.fail {
    color: red;
}

@media only screen and (max-width: 1200px) {
    h1 {
        font-size: 2.5rem;
    }
    
    label,
    select,
    textarea,
    .item {
        font-size: 1.5rem;
    }

    .company-name,
    .officer-name {
        font-size: 1.5rem;
        height: 25px;
    }

    .section,
    .detail-section > div {
        width: 90%; 
    }

    #section-label {
        font-size: 2rem;
    }
}

@media only screen and (max-width: 768px) {
    h1 {
        font-size: 2.5rem;
    }
    
    label,
    select,
    textarea,
    .item {
        font-size: 1.5rem;
    }

    .company-name,
    .officer-name {
        font-size: 1.5rem;
        height: 25px;
    }

    .section,
    .detail-section > div {
        width: 90%; 
    }

    #section-label {
        font-size: 2rem;
    }
}

@media only screen and (max-width: 350px) {
    h1 {
        font-size: 2rem;
    }

    label,
    select,
    textarea,
    .item {
        font-size: 1.2rem;
    }
    .company-name,
    .officer-name {
        font-size: 1.2rem;
        height: 20px;
    }

    .section,
    .detail-section > div {
        width: 100%;
        margin: 0 5px;
    }

    #section-label {
        font-size: 2.4rem;
    }

    #print-button-div {
        margin: 20px;
        text-align: center;
        padding: 10px;
    }
    
    #print-button {
        padding: 10px 20px;
        background-color: #0078d4; /* Microsoft blue */
        color: white;
        border: none;
        border-radius: 4px;
        font-size: 2.4rem;
        cursor: pointer;
        text-decoration: none;
    }
    
    #print-button:hover {
        background-color: #005a9e; /* Darker shade of Microsoft blue */
    }
}

@media print {
    @page {
        margin-left: 0.8in;
        margin-right: 0.8in;
        margin-top: 0;
        margin-bottom: 0;
    }
}

#print-button-div {
    margin: 20px;
    text-align: center;
    padding: 10px;
}

#print-button {
    padding: 10px 20px;
    background-color: #0078d4; /* Microsoft blue */
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    text-decoration: none;
}

#print-button:hover {
    background-color: #005a9e; /* Darker shade of Microsoft blue */
}
