/* Global styles */  
body {  
    font-family: "Titillium Web", sans-serif;  
    font-weight: 600;  
    font-style: normal;  
    margin: 10px;  
    padding: 0;  
    display: flex;  
    flex-direction: column;  
    align-items: center;  
    background-color: #b2b2b2; /* Lighter background color */  
}  

h1 {  
    margin: 20px;  
    font-size: 3rem; /* Increased font size for better readability */  
    font-weight: bold; /* Added bold font weight for headings */  
    color: #000000; /* Darker text color for better contrast */  
}  

label, select, textarea {  
    font-size: 1.8rem;  
    font-family: "Titillium Web", sans-serif;  
    margin-bottom: 15px; /* Increased margin for better spacing */  
}  

.detail-section {  
    width: 80%;  
    max-width: 800px;  
    margin-bottom: 30px;  
    border: 1px solid #ddd;  
    padding: 20px;  
    background-color: #fff;  
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);  
    display: flex;  
    flex-direction: column;  
    justify-content: space-around;  
    align-items: center;  
}  

#checklist-details {  
    flex: 1;  
    width: calc(100% - 20px);  
    margin: 10px;  
    background-color: #f7f7f7;  
    padding: 10px;  
    border: 1px solid #ddd;  
    border-radius: 10px;  
}  

.checklist-details {  
    border: none;  
    background-color: transparent;  
    text-align: center;  
    width: 100%;  
    height: auto; /* Set height to auto to adjust to content */  
    font-size: 16px; /* Adjust font size for better readability */  
    padding: 10px; /* Adjust padding for better spacing */  
    box-sizing: border-box; /* Include padding in width calculation */  
}  

.checklist-details::placeholder {  
    color: #242424;  
    background-color: transparent;  
    font-size: 16px;  
    font-style: italic;  
    opacity: 1;  
}  

.section,.final-section {  
    width: 80%;  
    max-width: 800px; /* Increased max-width for better readability on larger screens */  
    margin-bottom: 30px; /* Increased margin for better spacing */  
    padding: 20px; /* Increased padding for better spacing */  
    background-color: #feffff;  
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0);  
}  

#section-check-label {  
    display: flex;  
    justify-content: center;  
    align-items: center;  
    height: 5rem; /* Increased height for better spacing */  
    padding: 10px;  
    padding-bottom: 20px;  
}  

#section-label {  
    display: inline;  
    font-size: 2.5rem; /* Increased font size for better readability */  
}  

.item {  
    margin: 20px 0; /* Increased margin for better spacing */  
    display: flex;  
    flex-direction: column;  
    font-size: 1.5rem; /* Increased font size for better readability */  
    font-family: "Titillium Web", sans-serif;  
}  

.item > select, textarea::placeholder {  
    font-size: 15px;  
    padding: 5px;  
}  

.value-select {  
    padding: 10px; /* Increased padding for better spacing */  
}  

.recommendations {  
    width: 100%;  
    box-sizing: border-box;  
    resize: vertical;  
    overflow-x: hidden;  
    height: 100px;
}  

.final-section {  
    display: flex;  
    justify-content: center;  
    align-items: center;  
    padding: 20px;  
}  

.final-recommendations {  
    max-width: 100%;  
    box-sizing: border-box;  
    resize: vertical;  
    overflow-x: hidden;  
    height: 100px;
}  

.final-recommendations {  
    width: 100%;  
}  

.recommendations textarea,.final-recommendations textarea {  
    width: 100%;  
    padding: 20px;  
    margin: 30px;  
    overflow: auto;  
    resize: vertical;  
}  

/* Media queries for responsive design */  
@media only screen and (max-width: 1200px) {  
    h1 {  
        font-size: 2.5rem;  
    }  
    label, select, textarea,.item {  
        font-size: 1.5rem;  
    }  
    .company-name,.officer-name {  
        font-size: 1.5rem;  
        height: 25px;  
    }  
    .section,.final-section,.detail-section > div {  
        width: 90%;  
    }  
    #section-label {  
        font-size: 2rem;  
    }  
    .final-recommendations {  
        max-width: 100%;  
        box-sizing: border-box;  
        resize: vertical;  
        overflow-x: hidden;  
        height: 80px;
    }  
    .recommendations textarea,.final-recommendations textarea {  
        width: 100%;  
        padding: 20px;  
        margin: 30px;  
        overflow: auto;  
        resize: vertical;  
        height: 80px;
    }  
}  

@media only screen and (max-width: 768px) {  
    h1 {  
        font-size: 2.5rem;  
    }  
    label, select, textarea,.item {  
        font-size: 1.3rem;  
    }  
    .company-name,.officer-name {  
        font-size: 1.3rem;  
        height: 20px;  
    }  
    .section,.final-section,.detail-section > div {  
        width: 95%;  
    }  
    #section-label {  
        font-size: 1.8rem;  
    }  
    .final-recommendations {  
        max-width: 100%;  
        box-sizing: border-box;  
        resize: vertical;  
        overflow-x: hidden;  
        height: 80px;
    }  
    .recommendations textarea,.final-recommendations textarea {  
        width: 100%;  
        padding: 15px;  
        margin: 20px;  
        overflow: auto;  
        resize: vertical;
        height: 80px;  
    }  
}  
@media only screen and (max-width: 480px) {  
    h1 {  
    font-size: 2rem;  
    }  
    label, select, textarea,.item {  
    font-size: 1.2rem;  
    }  
    .company-name,.officer-name {  
    font-size: 1.2rem;  
    height: 18px;  
    }  
    .section,.final-section,.detail-section > div {  
    width: 98%;  
    }  
    #section-label {  
    font-size: 1.6rem;  
    }  
    .final-recommendations {  
    max-width: 100%;  
    box-sizing: border-box;  
    resize: vertical;  
    overflow-x: hidden;
    height: 80px;  
    }  
    .recommendations textarea,.final-recommendations textarea {  
    width: 100%;  
    padding: 10px;  
    margin: 15px;  
    overflow: auto;  
    resize: vertical;  
    height: 80px;
    }  
}  

#print-button-div {
    margin: 20px;
    text-align: center;
    padding: 10px;
}

#print-button {
    padding: 10px 20px;
    background-color: #0078d4; /* Microsoft blue */
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    text-decoration: none;
}

#print-button:hover {
    background-color: #01a71f; /* Darker shade of Microsoft blue */
}
